@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h1{
    color: white;
}
body{
    background: #000;
}

/*  ------------------- DAY PICKER ------------------ */
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #de0611;;
    overflow: hidden;
    display: flex;
}
.sec{
    position: relative;
    width: 50%;
    height:100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 h2{
    color: #fff;
    font-size: 16vw;
    font-weight: 800;
    line-height: 1em;
}
#day > i{
    font-size: 12vw;
    cursor: pointer;
}
.sec2{
    background:  #de0611;
}
.sec2 h2{
    color: #000;
    font-size: 6vw;
}
#month > i{
    font-size: 5vw;
    cursor: pointer;
}
#year{
    position: absolute;
    top: 80px;
    right: 40px;
    color: #000;
    font-size: 6vw;
    font-weight: 700;
}
@keyframes animate{
    0%,15%{
        opacity: 0;
    }
    15.1%,100%{
        opacity: 1;

    }
}
@media(max-width: 768px){
    section{
        flex-direction:column;
    }
    .sec{
        width: 100%;
        height: 50%;
    }
    .sec h2{
        font-size: 35vw;
    }
    #ampm{
        top: 20px;
        right: 20px;
    }
}
/*  -------------------------------------------------------- */

/*  ------------------- MENU ------------------ */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 190px;
    z-index: 100;
}

header .logo img{
    max-width: 150px;
}

.navigation{
    display: flex;
}

.navigation li{
    list-style: none;
    margin: 0 20px;
}

.navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li:hover a{
    color: #de0611;
}
/*  -------------------------------------------------------- */

/*  ------------------- BANNER/FILM ------------------ */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.banner .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.content{
    position: relative;
    z-index: 1;
    max-width: 550px;
}
.movieTitle{
    max-width: 250px;
}
.banner .content h4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}
.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.banner .content h4 span:first-child{
    padding-left: 0;
}
.banner .content h4 span:last-child{
    border-right: none;
}
.banner .content h4 span i {
    background:#de0611;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}
.banner .content p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 10px 0 20px;
}
.play{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
}
.play img{
    margin-right: 10px;
    max-width: 50px;
}
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}
.trailer video{
    max-width: 900px;
    outline: none;
}
.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}


@media (max-width: 991px){
    header{
        padding: 20px 50px;
        flex-direction: column;
    }

    .navegation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .banner{
        padding: 100px 50px;
    }

    .banner .play{
        left: 50px;
        font-size: 1em;
    }
    .play img{
        margin-right: 10px;
        max-width: 40px;
    }

    .trailer video{
        max-width: 90%;
    }
}

@media (max-width:600px){
    header{
        padding: 20px;
    }

  

    .banner{
        padding: 220px 20px 120px;
    }
    .banner .play{
        left: 20px;
        font-size: 1em;
        bottom: 30px;
    }
}
/*  -------------------------------------------------------- */

/*  ------------------- ABOUT THEATER ------------------ */
.container-about img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cinema-txt{
    color: white;
    font-size: 3em;
}


.grid-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    background-color: #000;
    column-count: 4;
    column-gap: 10px;
}
  
.grid-container img {
    max-width: 100%;
    display: block;
}
  
.grid-container figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}
  
.grid-container figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}
  

 
/*  -------------------------------------------------------- */

/*  ------------------- UBICATION  ------------------ */
.contact-in{
    width: 80%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height: 70%;
}
.contact-txt{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
}
.contact-txt h1{
    margin-bottom: 10px;
    margin-bottom: 120px;
    color: black;
}
.contact-txt-txt{
    width: 100%;
    height: 40px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 300px;
}
 /*  -------------------------------------------------------- */













































