<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
</head>
<body>
    <section>
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"> <img src="https://images.pexels.com/photos/274937/pexels-photo-274937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" ></div>
                    
                    <div class="formBx">
                        <form >
                            <h2>Inicio sesión</h2>
                            <input type="text" name="" placeholder="Usuario">
                            <input type="password" name="" placeholder="Contraseña">
                            <input type="submit" name="" value="Iniciar sesión">
                        </form>
                    </div>
            </div>
    </section>    
</body>
</html>